// Body Background
$body-bg: #eeeeee;

// Web Colors
$grey-light-1: #f7f7f7;
$grey-light-2: #eeeeee;

$grey-dark-1: #777;
$grey-dark-2: #999;
$grey-dark-3: #333;

$blue-1: #2998ff;
$blue-2: #5643fa;
$blue-3: #3a5da3;

$green-1: #239B56;

$red-1: #E74C3C;

$color-white: #ffffff;
$color-black: #000000;