body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-black;
}

.card-title {
    font-size: 1.125rem;
    color: $grey-dark-2;
    margin: 0;
    text-transform: uppercase;
}

.card-title-2 {
    font-size: 1.6rem;
    color: $color-black;
    font-weight: 500;
    margin: 0;

    @include respond(tab-land) {
        text-align: center;
    }
}

.table-text-primary {
    display: block;
    color: $color-black;
}

.table-text-secondary {
    display: block;
    color: $grey-dark-2;
}