.sidebar {
    background-color: $color-white;
    width: 4rem;
    padding: 4rem;
    border-right: 1px solid $grey-light-2;

    @include respond(phone) {
        width: 100%;
        border-right: unset;
        border-bottom: 1px solid $grey-light-2;
        padding: 1rem 0;
    }

    &__link-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: inherit;
        height: 100%;
        list-style: none;

        @include respond(phone) {
            flex-direction: row;
            justify-content: space-around;
            margin-bottom: unset;
        }

        .link-item {

            &:not(:last-child) {
                margin-bottom: 3rem;

                @include respond(phone) {
                    margin-bottom: unset;
                }
            }

            .link {
                color: $grey-dark-2;
                font-size: 2.4rem;
            }
        }
    }
}