.dashboard {
    display: flex;
    flex-direction: row;

    @include respond(phone) {
        flex-direction: column;
    }
}

.main-wrapper {
    height: 100%;
    width: 100%;

    .main-section {
        padding: 4rem;

        &__title {
            font-size: 3.2rem;
            font-weight: 700;
            margin-bottom: 3rem;
        }

        &__grid-layout {
            display: grid;
            grid-template-columns: 25% 75%;
            column-gap: 2rem;

            @include respond(phone) {
                grid-template-columns: repeat(1, 1fr);
            }

            .breakdown-section {

                .key-issues-card-btns {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    gap: 10px;

                    @include respond(tab-port) {
                        grid-template-columns: repeat(3, 1fr);
                    }

                    @include respond(phone) {
                        grid-template-columns: repeat(2, 1fr);
                    }
                }

                .period-card-btns {
                    display: flex;
                    flex-direction: row; 

                    @include respond(phone) {
                        flex-direction: column;
                    }

                    @include respond(phone) {
                        .btn-light {
                            padding: 10px;
                        }
                    }
                }

                .card-graph-details {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    @include respond(tab-land) {
                        flex-direction: column;
                    }

                    &__info {
                        margin-right: auto;

                        @include respond(tab-land) {
                            margin-right: unset;
                            margin-bottom: 2rem;
                        }

                        .title {
                            font-size: 2rem;
                            color: $blue-3;
                        }

                        .description {
                            font-size: 1.4rem;
                            color: $grey-dark-1;
                        }

                        .details {
                            font-size: 1.4rem;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                        }
                    }

                    &__graph {

                        .recharts-wrapper {
                            width: 100%;
                            height: 100%;

                            .recharts-surface {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}