.dashboard {
    display: flex;
    flex-direction: row;
}

.main-wrapper {
    height: 100%;
    width: 100%;

    .main-section {
        padding: 4rem;

        &__title {
            font-size: 3.2rem;
            font-weight: 700;
            margin-bottom: 3rem;
        }

        &__grid-layout {
            display: grid;
            grid-template-columns: 25% 75%;
            column-gap: 2rem;

            .visits-section {

            }

            .breakdown-section {

                .key-issues-card-btns {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    gap: 10px;
                }

                .period-card-btns {
                    display: flex;
                    flex-direction: row; 
                }

                .card-graph-details {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    &__info {
                        margin-right: auto;

                        .title {
                            font-size: 2rem;
                            color: $blue-3;
                        }

                        .description {
                            font-size: 1.4rem;
                            color: $grey-dark-1;
                        }

                        .details {
                            font-size: 1.4rem;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                        }
                    }

                    &__graph {

                        .recharts-wrapper {
                            width: 100%;
                            height: 100%;

                            .recharts-surface {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}