.analytics-table {
   font-size: 1.4rem;

   thead {
    border-bottom: 2px solid $grey-light-2;
   }

   .table-index {
       color: $grey-dark-2;
   }

   .table-title {
       color: $blue-3;
   }

   .issue-progress {
       display: grid;
       grid-template-columns: max-content auto;
       align-items: center;

       .progress {
           height: .4rem;
       }
   }
}

@include respond(phone){
    table { 
        display:block;

        > *,tr,td,th { 
            display:block
        }
      
      thead { 
        display:none
      }

      tbody tr { 
        height:auto; 
        padding:8px 0;

        td { 
            padding-left:45%; 
            margin-bottom:12px;

            &:last-child { 
                margin-bottom:0 
            }
        }        
      }

      tr {
            border-bottom: 1px solid $grey-light-2;
        }
    }
}